
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">CHS REG</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">หน้าหลัก</a></li>
      <li><a href="/account/myinfo">ข้อมูลของฉัน</a></li>
      <li><a href="#">สมัครศึกษาเข้าต่อ</a></li>
      <li><a href="#">ยืนยันสิทธิ์เข้าศึกษาต่อ</a></li>
      <li><a href="#">ชุมนุม</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        {% if request.session.current_user %}

        {% for u in user %}

        {% if u.type == "เจ้าหน้าที่" %}
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">จัดการ
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/activate">อนุมัติผู้ใช้ใหม่</a></li>
            <li><a href="#">Page 1-2</a></li>
            <li><a href="#">Page 1-3</a></li>
          </ul>
        </li>
        
        {% endif %}

        <li><a>{{ u.type }} {{ u.name }} {{ u.surname }} </a></li>
        {% endfor %}
        
        {% endif %}
      
      {% if request.session.current_user is None %}
      <li><a href="/account/register/"><span class="glyphicon glyphicon-user"></span> สมัครสมาชิก</a></li>
      <li><a href="/account/login/"><span class="glyphicon glyphicon-log-in"></span> เข้าสู่ระบบ</a></li>
      {% else %}
      <li><a href="/account/logout/"><span class="glyphicon glyphicon-log-out"></span> ออกจากระบบ</a></li>
      {% endif %}
    </ul>
  </div>
</nav>


