
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">CHS REG</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="../">หน้าหลัก</a></li>
      <li><a href="#">ข้อมูลของฉัน</a></li>
      <li><a href="#">มอบตัว</a></li>
      <li><a href="#">ชุมนุม</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        {% if request.session.current_user %}
        {% for u in user %}
        <a>{{ u.idcard }} {{ u.name }}  {{ u.surname }} </a>
        {% endfor %}
        {% endif %}
      </li>
      {% if request.session.current_user is None %}
      <li><a href="../register/"><span class="glyphicon glyphicon-user"></span> สมัครสมาชิก</a></li>
      <li><a href="../login/"><span class="glyphicon glyphicon-log-in"></span> เข้าสู่ระบบ</a></li>
      {% else %}
      <li><a href="../logout/"><span class="glyphicon glyphicon-log-out"></span> ออกจากระบบ</a></li>
      {% endif %}
    </ul>
  </div>
</nav>


