<head>
    <title>MY INFO | CHS REG</title>
  </head>
  
  {% include 'src/header.html' %}

  <div class="row">
    <div class="col-md-2">{% include 'src/header_info.html' %}</div>
    <div class="col-md">


        <div class="container">
            <form action="/account/myinfo/save/" method="post">
            {% csrf_token %}
              <div class="form-group">
                <label class="control-label" for="idcard">เลขประจำตัวประชาชน</label> 
                <input id="idcard" name="idcard" type="text" required="required" class="form-control">
              </div>
              <div class="form-group">
                <label for="studentid" class="control-label">เลขประจำตัวนักเรียนเดิม (นักเรียนเดิมเท่านั้น)</label> 
                <input id="studentid" name="studentid" type="text" class="form-control">
              </div>
              <div class="form-group">
                <label for="classroom_grade" class="control-label">ชั้น</label> 
                <input id="classroom_grade" name="classroom_grade" type="text" class="form-control">
              </div>
              <div class="form-group">
                <label for="classroom_room" class="control-label">ห้อง</label> 
                <input id="classroom_room" name="classroom_room" type="text" class="form-control">
              </div>
              <div class="form-group">
                <label for="prefix" class="control-label">คำนำหน้าชื่อ</label> 
                <input id="prefix" name="prefix" type="text" class="form-control">
              </div>
              <div class="form-group">
                <label for="name_eng" class="control-label">English Name</label> 
                <input id="name_eng" name="name_eng" type="text" required="required" class="form-control">
              </div>
              <div class="form-group">
                <label for="surname_eng" class="control-label">English Surname</label> 
                <input id="surname_eng" name="surname_eng" type="text" class="form-control">
              </div>
              <div class="form-group">
                <label for="birthplace" class="control-label">สถานที่เกิด</label> 
                <input id="birthplace" name="birthplace" type="text" class="form-control">
              </div>
              <div class="form-group">
                <label for="birthprovince" class="control-label">จังหวัดที่เกิด</label> 
                <input id="birthprovince" name="birthprovince" type="text" class="form-control">
              </div>
              <div class="form-group">
                <label for="bloodtype" class="control-label">กรุ๊ปเลือด</label> 
                <input id="bloodtype" name="bloodtype" type="text" class="form-control">
              </div>
              <div class="form-group">
                <label for="nationality" class="control-label">สัญชาติ</label> 
                <input id="nationality" name="nationality" type="text" class="form-control">
              </div>
              <div class="form-group">
                <label for="ethenic" class="control-label">เชื้อชาติ</label> 
                <input id="ethenic" name="ethenic" type="text" class="form-control">
              </div>
              <div class="form-group">
                <label for="religion" class="control-label">ศาสนา</label> 
                <input id="religion" name="religion" type="text" class="form-control">
              </div>
              <div class="form-group">
                <label for="language_main" class="control-label">ภาษาหลักที่ใช้</label> 
                <input id="language_main" name="language_main" type="text" class="form-control">
              </div>
              <div class="form-group">
                <label for="language_other" class="control-label">ภาษาอื่น ๆ ที่ใช้</label> 
                <input id="language_other" name="language_other" type="text" class="form-control">
              </div>
              <div class="form-group">
                <label for="latest_school" class="control-label">โรงเรียนเดิม</label> 
                <input id="latest_school" name="latest_school" type="text" class="form-control">
              </div>
              <div class="form-group">
                <label for="latest_school_province" class="control-label">จังหวัดโรงเรียนเดิม</label> 
                <input id="latest_school_province" name="latest_school_province" type="text" class="form-control">
              </div> 
              <div class="form-group">
                <button name="submit" type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>



    </div>
  </div>

  
  {% include 'src/footer.html' %}